{% set colors_base_class = "cl-colors" %}

<div {{ bem(colors_base_class) }}>
	{% include "@base/02-text/headings/heading.twig" with {
    heading_level: 2,
    heading_class: 'ss3-title-700',
    heading_text: colors_heading,
  } %}
</div>
