@mixin heading-sourceSans3 (
  $font-size: 1.4rem,
  $font-weight: 700,
  $letter-spacing: 0.5rem,
  $line-height: 1.6rem,
  $text-decoration: none,
  $paragraph-spacing: 0rem,
) {
	font-family: 'Source Sans 3';
	font-size: $font-size;
	font-weight: $font-weight;
	letter-spacing: $letter-spacing;
	line-height: $line-height;
	font-style: normal;
	text-decoration: $text-decoration;
	margin-bottom: $paragraph-spacing;
}


.ss3-title-700 {
  @include heading-sourceSans3($font-size:2rem, $font-weight: 700, $line-height:2.25rem, $letter-spacing:-0.02rem);

  @include medium {
    @include heading-sourceSans3($font-size:2.5rem, $font-weight: 700, $line-height:3rem, $letter-spacing:-0.025rem);
  }

  @include large {
    @include heading-sourceSans3($font-size:3rem, $font-weight: 700, $line-height:3.5rem, $letter-spacing:-0.06rem);
  }
}

.ss3-title-300 {
  @include heading-sourceSans3($font-size:2rem, $font-weight: 300, $line-height:2.25rem, $letter-spacing:-0.02rem);

  @include medium {
    @include heading-sourceSans3($font-size:2.5rem, $font-weight: 300, $line-height:3rem, $letter-spacing:-0.025rem);
  }

  @include large {
    @include heading-sourceSans3($font-size:3rem, $font-weight: 300, $line-height:3.5rem, $letter-spacing:-0.06rem);
  }
}
