@mixin text-sourceSans3 (
  $font-size: 1rem,
  $font-weight: 400,
  $letter-spacing: 0.5rem,
  $text-decoration: none,
  $paragraph-spacing: 0rem,
  $line-height: 1.5rem,
) {
	font-family: 'Source Sans 3';
	font-size: $font-size;
	font-weight: $font-weight;
	letter-spacing: $letter-spacing;
	line-height: $line-height;
	font-style: normal;
	text-decoration: $text-decoration;
	margin-bottom: $paragraph-spacing;
}

@mixin text-sourceSerif4 (
  $font-size: 1rem,
  $font-weight: 400,
  $letter-spacing: 0.5rem,
  $text-decoration: none,
  $paragraph-spacing: 0rem,
  $line-height: 1.5rem,
) {
	font-family: 'Source Serif 4';
	font-size: $font-size;
	font-weight: $font-weight;
	letter-spacing: $letter-spacing;
	line-height: $line-height;
	font-style: normal;
	text-decoration: $text-decoration;
	margin-bottom: $paragraph-spacing;
}

@mixin text-sourceCodePro (
  $font-size: 1rem,
  $font-weight: 400,
  $letter-spacing: 0.5rem,
  $text-decoration: none,
  $paragraph-spacing: 0rem,
  $line-height: 1.5rem,
) {
	font-family: 'Source Code Pro';
	font-size: $font-size;
	font-weight: $font-weight;
	letter-spacing: $letter-spacing;
	line-height: $line-height;
	font-style: normal;
	text-decoration: $text-decoration;
	margin-bottom: $paragraph-spacing;
}


.ss3-body-lg-400 {
	@include text-sourceSans3($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:1rem);

	@include medium {
		@include text-sourceSans3($font-weight:400,$font-size:1.125rem,$line-height:1.75rem,$letter-spacing:0rem, $paragraph-spacing:1.125rem);
	}

	@include large {
		@include text-sourceSans3($font-weight:400,$font-size:1.25rem,$line-height:2rem,$letter-spacing:0rem, $paragraph-spacing:1.25rem);
	}
}

.ss3-body-md-400 {
	@include text-sourceSans3($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.875rem);

	@include medium {
		@include text-sourceSans3($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:1rem);
	}

	@include large {
		@include text-sourceSans3($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:1rem);
	}
}

.ss3-body-sm-400 {
	@include text-sourceSans3($font-weight:400,$font-size:0.75rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.75rem);

	@include medium {
		@include text-sourceSans3($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.875rem);
	}

	@include large {
		@include text-sourceSans3($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.875rem);
	}
}

.ss3-link-un-400 {
	display: inline;
	@include text-sourceSans3($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0rem);

	@include medium {
		@include text-sourceSans3($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}

	@include large {
		@include text-sourceSans3($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}

	font-size: inherit; // Se deja en inherit para que se adecue al tamaño del párrafo donde se encuentre
}

.ss3-label-lg-400 {
	@include text-sourceSans3($font-weight:400,$font-size:1rem,$line-height:1rem,$letter-spacing:4%, $paragraph-spacing:0rem);

	@include medium {
		@include text-sourceSans3($font-weight:400,$font-size:1.125rem,$line-height:1.25rem,$letter-spacing:0.045rem, $paragraph-spacing:0rem);
	}

	@include large {
		@include text-sourceSans3($font-weight:400,$font-size:1.25rem,$line-height:1.25rem,$letter-spacing:0.05rem, $paragraph-spacing:0rem);
	}
}

.ss3-label-sm-400 {
	@include text-sourceSans3($font-weight:400,$font-size:0.875rem,$line-height:1rem,$letter-spacing:4%, $paragraph-spacing:0rem);

	@include medium {
		@include text-sourceSans3($font-weight:400,$font-size:1rem,$line-height:1rem,$letter-spacing:0.04rem, $paragraph-spacing:0rem);
	}

	@include large {
		@include text-sourceSans3($font-weight:400,$font-size:1.125rem,$line-height:1.25rem,$letter-spacing:0.045rem, $paragraph-spacing:0rem);
	}
}

.ss3-button-lg-600 {
	@include text-sourceSans3($font-weight:600,$font-size:1.125rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0rem);

	@include medium {
		@include text-sourceSans3($font-weight:600,$font-size:1.125rem,$line-height:1.25rem,$letter-spacing:0.045rem, $paragraph-spacing:0rem);
	}

	@include large {
		@include text-sourceSans3($font-weight:600,$font-size:1.125rem,$line-height:1.25rem,$letter-spacing:0.045rem, $paragraph-spacing:0rem);
	}
}

.ss3-button-md-600 {
	@include text-sourceSans3($font-weight:400,$font-size:0.875rem,$line-height:1rem,$letter-spacing:4%, $paragraph-spacing:0rem);

	@include medium {
		@include text-sourceSans3($font-weight:600,$font-size:1.125rem,$line-height:1.25rem,$letter-spacing:0.045rem, $paragraph-spacing:0rem);
	}

	@include large {
		@include text-sourceSans3($font-weight:600,$font-size:1.125rem,$line-height:1.25rem,$letter-spacing:0.045rem, $paragraph-spacing:0rem);
	}
}

.ss3-button-sm-600 {
	@include text-sourceSans3($font-weight:600,$font-size:1rem,$line-height:1rem,$letter-spacing:0.04rem, $paragraph-spacing:0rem);

	@include medium {
		@include text-sourceSans3($font-weight:600,$font-size:1rem,$line-height:1rem,$letter-spacing:0.04rem, $paragraph-spacing:0rem);
	}

	@include large {
		@include text-sourceSans3($font-weight:600,$font-size:1rem,$line-height:1rem,$letter-spacing:0.04rem, $paragraph-spacing:0rem);
	}
}

.ss3-button-sm-un-600 {
	@include text-sourceSans3($font-weight:600,$font-size:1rem,$line-height:1rem,$letter-spacing:0.04rem, $paragraph-spacing:0rem, $text-decoration: underline);
}

.ss3-breadcrums-500 {
	@include text-sourceSans3($font-weight:500,$font-size:0.875rem,$line-height:1rem,$letter-spacing:0.035rem, $paragraph-spacing:0rem);
	
	@include medium {
		@include text-sourceSans3($font-weight:500,$font-size:1rem,$line-height:1rem,$letter-spacing:0.04rem, $paragraph-spacing:0rem);
	}

	@include large {
		@include text-sourceSans3($font-weight:500,$font-size:1.125rem,$line-height:1.25rem,$letter-spacing:0.045rem, $paragraph-spacing:0rem);
	}
	
	&:hover {
		text-decoration: underline;
	}
}

.ss3-linkButton-lg-400 {
	@include text-sourceSans3($font-weight:400,$font-size:1rem,$line-height:1.25rem,$letter-spacing:0.045rem, $paragraph-spacing:0rem);

	@include medium {
		@include text-sourceSans3($font-weight:400,$font-size:1.125rem,$line-height:1.25rem,$letter-spacing:0.045rem, $paragraph-spacing:0rem);
	}

	@include large {
		@include text-sourceSans3($font-weight:400,$font-size:1.25rem,$line-height:1.5rem,$letter-spacing:0.05rem, $paragraph-spacing:0rem);
	}

	&:hover {
		font-weight: 500;
	}
}

.ss3-linkButton-md-400 {
	@include text-sourceSans3($font-weight:400,$font-size:0.875rem,$line-height:1rem,$letter-spacing:0.035rem, $paragraph-spacing:0rem);

	@include medium {
		@include text-sourceSans3($font-weight:400,$font-size:1rem,$line-height:1rem,$letter-spacing:0.04rem, $paragraph-spacing:0rem);
	}

	@include large {
		@include text-sourceSans3($font-weight:400,$font-size:1.125rem,$line-height:1.5rem,$letter-spacing:0.045rem, $paragraph-spacing:0rem);
	}

	&:hover,
	&.hover,
	.hover > & {
		font-weight: 500;
	}
}

.ss3-linkButton-sm-400 {
	@include text-sourceSans3($font-weight:400,$font-size:0.7rem,$line-height:1rem,$letter-spacing:0.03rem, $paragraph-spacing:0rem);

	&:hover, 
	&.hover,
	.hover > & {
		font-weight: 500;
		font-size: 0.75rem;

	}

	@include medium {
		@include text-sourceSans3($font-weight:400,$font-size:0.875rem,$line-height:1rem,$letter-spacing:0.035rem, $paragraph-spacing:0rem);

		&:hover, 
		&.hover,
		.hover > & {
			font-weight: 500;
			font-size: 0.875rem;
		}
	}

	@include large {
		@include text-sourceSans3($font-weight:400,$font-size:1rem,$line-height:1rem,$letter-spacing:0.04rem, $paragraph-spacing:0rem);

		&:hover,
		&.hover,
		.hover > & {
			font-size: 1rem;
			font-weight: 500;
		}
	}
}

.ss3-linkButton-lg-700 {
	@include text-sourceSans3($font-weight:700,$font-size:1.25rem,$line-height:1.5rem,$letter-spacing:0.045rem, $paragraph-spacing:0rem);

	@include medium {
		@include text-sourceSans3($font-weight:700,$font-size:1.25rem,$line-height:1.5rem,$letter-spacing:0.045rem, $paragraph-spacing:0rem);
	}

	@include large {
		@include text-sourceSans3($font-weight:700,$font-size:1.25rem,$line-height:1.5rem,$letter-spacing:0.045rem, $paragraph-spacing:0rem);
	}

	&:hover {
		font-weight: 700;
	}
}


.ss3-menuTitles-500 {
	@include text-sourceSans3($font-weight:500,$font-size:1.25rem,$line-height:1.5rem,$letter-spacing:0.05rem, $paragraph-spacing:0rem);
}

.ss3-summary-lg-400 {
	@include text-sourceSans3($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:1rem);

	@include medium {
		@include text-sourceSans3($font-weight:400,$font-size:1.125rem,$line-height:1.75rem,$letter-spacing:0rem, $paragraph-spacing:1.125rem);
	}

	@include large {
		@include text-sourceSans3($font-weight:400,$font-size:1.25rem,$line-height:2rem,$letter-spacing:0rem, $paragraph-spacing:1.25rem);
	}
}

.ss3-summary-md-400 {
	@include text-sourceSans3($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.875rem);

	@include medium {
		@include text-sourceSans3($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:1rem);
	}

	@include large {
		@include text-sourceSans3($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:1rem);
	}
}

.ss3-summary-sm-400 {
	@include text-sourceSans3($font-weight:400,$font-size:0.75rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.75rem);

	@include medium {
		@include text-sourceSans3($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.875rem);
	}

	@include large {
		@include text-sourceSans3($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.875rem);
	}
}

.ss3-cardTitle-lg-500 {
	@include text-sourceSans3($font-weight:500,$font-size:1.25rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:0rem);

	@include medium {
		@include text-sourceSans3($font-weight:500,$font-size:1.5rem,$line-height:1.75rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}

	@include xs {
		@include text-sourceSans3($font-weight:500,$font-size:1.75rem,$line-height:2rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}
}

.ss3-cardTitle-md-500 {
	
	@include xs {
		@include text-sourceSans3($font-weight:500,$font-size:1rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}
	@include medium {
		@include text-sourceSans3($font-weight:500,$font-size:1.25rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}

	@include large {
		@include text-sourceSans3($font-weight:500,$font-size:1.5rem,$line-height:1.75rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}

}

.ss3-cardTitle-sm-500 {
	@include text-sourceSans3($font-weight:500,$font-size:1rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0rem);

  @include medium {
    @include text-sourceSans3($font-weight:500,$font-size:1.125rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
  }

  @include large {
    @include text-sourceSans3($font-weight:500,$font-size:1.25rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
  }

	&:hover {
		text-decoration: underline;
	}
}

.ss3-cardTitle-xs-500 {
	
	@include xs {
		@include text-sourceSans3($font-weight:500,$font-size:1rem,$line-height:1rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}
	
	@include medium {
		@include text-sourceSans3($font-weight:500,$font-size:1rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}
	@include large {
		@include text-sourceSans3($font-weight:500,$font-size:1.125rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0rem);

	}

	&:hover {
		text-decoration: underline;
	}
}

.ss3-cardTitle-xxs-500 {
	@include xs {
		@include text-sourceSans3($font-weight:500,$font-size:0.75rem,$line-height:1rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}
	@include medium {
		@include text-sourceSans3($font-weight:500,$font-size:0.875rem,$line-height:1rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}

	@include text-sourceSans3($font-weight:500,$font-size:1rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0rem);



	&:hover {
		text-decoration: underline;
	}
}

.ss3-cardDescription-lg-400 {
	@include text-sourceSans3($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:1rem);

	@include medium {
		@include text-sourceSans3($font-weight:400,$font-size:1.125rem,$line-height:1.75rem,$letter-spacing:0rem, $paragraph-spacing:1.125rem);
	}

	@include large {
		@include text-sourceSans3($font-weight:400,$font-size:1.25rem,$line-height:2rem,$letter-spacing:0rem, $paragraph-spacing:1.25rem);
	}
}

.ss3-cardDescription-md-400 {
	@include text-sourceSans3($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.875rem);

	@include medium {
		@include text-sourceSans3($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:1rem);
	}

	@include large {
		@include text-sourceSans3($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:1rem);
	}
}

.ss3-cardDescription-sm-400 {
	@include text-sourceSans3($font-weight:400,$font-size:0.75rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.75rem);

	@include medium {
		@include text-sourceSans3($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.875rem);
	}

	@include large {
		@include text-sourceSans3($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.875rem);
	}
}

.ss3-quoteReference-400 {
	@include xs {
		@include text-sourceSans3($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.875rem);
	}

	@include medium {
		@include text-sourceSans3($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.875rem);
	}

	@include large {
		@include text-sourceSans3($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.875rem);
	}
}

.ss3-cardDate-400 {
	@include text-sourceSans3($font-weight:400,$font-size:0.75rem,$line-height:1rem,$letter-spacing:0rem, $paragraph-spacing:0rem);

	@include medium {
		@include text-sourceSans3($font-weight:400,$font-size:0.75rem,$line-height:1rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}

	@include large {
		@include text-sourceSans3($font-weight:400,$font-size:0.75rem,$line-height:1rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}
}

.ss3-tag-lg-400 {
	@include text-sourceSans3($font-weight:400,$font-size:1rem,$line-height:1rem,$letter-spacing:0.08rem, $paragraph-spacing:0rem);
	text-transform: uppercase;
}

.ss3-tag-md-400 {
	@include text-sourceSans3($font-weight:400,$font-size:0.75rem,$line-height:1rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	text-transform:uppercase;
}

.ss3-tag-md-700 {
	@include text-sourceSans3($font-weight:700,$font-size:0.75rem,$line-height:1rem,$letter-spacing:0.06rem, $paragraph-spacing:0rem);
	text-transform:uppercase;
}

.ss3-tag-sm-400 {
	@include text-sourceSans3($font-weight:400,$font-size:0.625rem,$line-height:0.75rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	text-transform: uppercase;
}

// Forms

.ss3-inputLabel-400 {
	@include text-sourceSans3($font-weight:400,$font-size:0.875rem,$line-height:1rem,$letter-spacing:0.07rem, $paragraph-spacing:0rem);
}

.ss3-inputText-400 {
	@include text-sourceSans3($font-weight:400,$font-size:0.875rem,$line-height:1rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
}

.ss3-supportText-400 {
	@include text-sourceSans3($font-weight:400,$font-size:0.75rem,$line-height:1rem,$letter-spacing:0.03rem, $paragraph-spacing:0rem);
}

.ss3-stateMessage-400 {
	@include text-sourceSans3($font-weight:400,$font-size:0.75rem,$line-height:1rem,$letter-spacing:0.03rem, $paragraph-spacing:0rem);
}

// Source Serif 4


.ssf4-body-lg-400 {
	@include text-sourceSerif4($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:1rem);

	@include medium {
		@include text-sourceSerif4($font-weight:400,$font-size:1.125rem,$line-height:1.75rem,$letter-spacing:0rem, $paragraph-spacing:1.125rem);
	}

	@include large {
		@include text-sourceSerif4($font-weight:400,$font-size:1.25rem,$line-height:2rem,$letter-spacing:0rem, $paragraph-spacing:1.25rem);
	}
}

.ssf4-body-md-400 {
	@include text-sourceSerif4($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.875rem);

	@include medium {
		@include text-sourceSerif4($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:1rem);
	}

	@include large {
		@include text-sourceSerif4($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:1rem);
	}
}

.ssf4-body-sm-400 {
	@include text-sourceSerif4($font-weight:400,$font-size:0.75rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.75rem);

	@include medium {
		@include text-sourceSerif4($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.875rem);
	}

	@include large {
		@include text-sourceSerif4($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.875rem);
	}
}

.ssf4-link-un-400 {
	display: inline;
	@include text-sourceSerif4($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0rem);

	@include medium {
		@include text-sourceSerif4($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}

	@include large {
		@include text-sourceSerif4($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}

	font-size: inherit;
}

.ssf4-label-lg-400 {
	@include text-sourceSerif4($font-weight:400,$font-size:1rem,$line-height:1rem,$letter-spacing:0.04rem, $paragraph-spacing:0rem);

	@include medium {
		@include text-sourceSerif4($font-weight:400,$font-size:1.125rem,$line-height:1.25rem,$letter-spacing:0.045rem, $paragraph-spacing:0rem);
	}

	@include large {
		@include text-sourceSerif4($font-weight:400,$font-size:1.25rem,$line-height:1.25rem,$letter-spacing:0.05rem, $paragraph-spacing:0rem);
	}
}

.ssf4-label-sm-400 {
	@include text-sourceSerif4($font-weight:400,$font-size:0.875rem,$line-height:1rem,$letter-spacing:0.035rem, $paragraph-spacing:0rem);

	@include medium {
		@include text-sourceSerif4($font-weight:400,$font-size:1rem,$line-height:1rem,$letter-spacing:0.04rem, $paragraph-spacing:0rem);
	}

	@include large {
		@include text-sourceSerif4($font-weight:400,$font-size:1.125rem,$line-height:1.25rem,$letter-spacing:0.045rem, $paragraph-spacing:0rem);
	}
}

.ssf4-summary-lg-40 {
	@include text-sourceSerif4($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:1rem);

	@include medium {
		@include text-sourceSerif4($font-weight:400,$font-size:1.125rem,$line-height:1.75rem,$letter-spacing:0rem, $paragraph-spacing:1.125rem);
	}

	@include large {
		@include text-sourceSerif4($font-weight:400,$font-size:1.25rem,$line-height:2rem,$letter-spacing:0rem, $paragraph-spacing:1.25rem);
	}
}

.ssf4-summary-md-400 {
	@include text-sourceSerif4($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.875rem);

	@include medium {
		@include text-sourceSerif4($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:1rem);
	}

	@include large {
		@include text-sourceSerif4($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:1rem);
	}
}

.ssf4-summary-sm-400 {
	@include text-sourceSerif4($font-weight:400,$font-size:0.75rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.75rem);

	@include medium {
		@include text-sourceSerif4($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.875rem);
	}

	@include large {
		@include text-sourceSerif4($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.875rem);
	}
}

.ssf4-cardTitle-lg-500 {
	@include xs {
		@include text-sourceSerif4($font-weight:500,$font-size:1.25rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}
	@include medium {
		@include text-sourceSerif4($font-weight:500,$font-size:1.5rem,$line-height:1.75rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}
	@include large {
		@include text-sourceSerif4($font-weight:500,$font-size:1.75rem,$line-height:2rem,$letter-spacing:0rem, $paragraph-spacing:0rem);

	}
}

.ssf4-cardTitle-md-500 {
	@include xs {
		@include text-sourceSerif4($font-weight:400,$font-size:1rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}
	
	@include medium {
		@include text-sourceSerif4($font-weight:500,$font-size:1.25rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}
	
	@include large {
		@include text-sourceSerif4($font-weight:500,$font-size:1.5rem,$line-height:1.75rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}
}

.ssf4-cardTitle-sm-500 {
	@include xs {
		@include text-sourceSerif4($font-weight:500,$font-size:1rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}
	@include medium {
		@include text-sourceSerif4($font-weight:500,$font-size:1.125rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}
	@include large {
		@include text-sourceSerif4($font-weight:500,$font-size:1.25rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}

	&:hover {
		text-decoration: underline;
	}
}

.ssf4-cardTitle-xs-500 {
	@include xs {
		@include text-sourceSerif4($font-weight:500,$font-size:1rem,$line-height:1rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}
	@include medium {
		@include text-sourceSerif4($font-weight:500,$font-size:1rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}
	@include large {
		@include text-sourceSerif4($font-weight:500,$font-size:1.125rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}
	&:hover {
		text-decoration: underline;
	}
}

.ssf4-cardTitle-xxs-500 {
	@include xs {
		@include text-sourceSerif4($font-weight:500,$font-size:0.75rem,$line-height:1rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}
	@include medium {
		@include text-sourceSerif4($font-weight:500,$font-size:0.875rem,$line-height:1rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}
	@include large {
		@include text-sourceSerif4($font-weight:500,$font-size:1rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}
	&:hover {
		text-decoration: underline;
	}
}

.ssf4-cardDescription-lg-400 {
		@include xs {
			@include text-sourceSerif4($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:1.25rem);
		}
		@include medium {
			@include text-sourceSerif4($font-weight:400,$font-size:1.125rem,$line-height:1.75rem,$letter-spacing:0rem, $paragraph-spacing:1.125rem);
		}
	@include large {
		@include text-sourceSerif4($font-weight:400,$font-size:1.25rem,$line-height:2rem,$letter-spacing:0rem, $paragraph-spacing:1rem);
	}

}

.ssf4-cardDescription-md-400 {
	@include xs {
		@include text-sourceSerif4($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:1rem);
	}
	@include medium {
		@include text-sourceSerif4($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:1rem);
	}
	@include large {
		@include text-sourceSerif4($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:0.875rem);
	}
}

.ssf4-cardDescription-sm-400 {
	@include xs {
		@include text-sourceSerif4($font-weight:400,$font-size:0.75rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.875rem);
	}
	@include medium {
		@include text-sourceSerif4($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.875rem);
	}
	@include large {
		@include text-sourceSerif4($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.75rem);
	}
}

.ssf4-quote-lg-500 {
	@include xs {
		@include text-sourceSerif4($font-weight:500,$font-size:1.5rem,$line-height:2rem,$letter-spacing:0rem, $paragraph-spacing:1.5rem);
	}
	@include medium {
		@include text-sourceSerif4($font-weight:500,$font-size:1.5rem,$line-height:2rem,$letter-spacing:0rem, $paragraph-spacing:1.5rem);
	}
	@include large {
		@include text-sourceSerif4($font-weight:500,$font-size:1.5rem,$line-height:2rem,$letter-spacing:0rem, $paragraph-spacing:1.5rem);
	}
}
.ssf4-quote-md-500 {
	@include xs {
		@include text-sourceSerif4($font-weight:500,$font-size:1.25rem,$line-height:1.75rem,$letter-spacing:0rem, $paragraph-spacing:1.25rem);
	}
	@include medium {
		@include text-sourceSerif4($font-weight:400,$font-size:1.25rem,$line-height:1.75rem,$letter-spacing:0rem, $paragraph-spacing:1.25rem);
	}
	@include large {
		@include text-sourceSerif4($font-weight:400,$font-size:1.25rem,$line-height:1.75rem,$letter-spacing:0rem, $paragraph-spacing:1.25rem);
	}
}
.ssf4-quote-sm-500 {
	@include xs {
		@include text-sourceSerif4($font-weight:500,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:1rem);
	}
	@include medium {
		@include text-sourceSerif4($font-weight:500,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:1rem);
	}
	@include large {
		@include text-sourceSerif4($font-weight:500,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:1rem);
	}
}


// Source Code Pro

.scp-body-lg-400 {
	@include text-sourceCodePro($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:1rem);
	@include medium {
		@include text-sourceCodePro($font-weight:400,$font-size:1.125rem,$line-height:1.75rem,$letter-spacing:0rem, $paragraph-spacing:1.125rem);
	}

	@include large {
		@include text-sourceCodePro($font-weight:400,$font-size:1.25rem,$line-height:2rem,$letter-spacing:0rem, $paragraph-spacing:1.25rem);
	}
}

.scp-body-md-400 {
	@include text-sourceCodePro($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.875rem);

	@include medium {
		@include text-sourceCodePro($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:1rem);
	}

	@include large {
		@include text-sourceCodePro($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:1rem);
	}
}

.scp-body-sm-400 {
	@include text-sourceCodePro($font-weight:400,$font-size:0.75rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.75rem);

	@include medium {
		@include text-sourceCodePro($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.875rem);
	}

	@include large {
		@include text-sourceCodePro($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0.875rem);
	}
}

.scp-link-un-400 {
	display: inline;

	@include text-sourceCodePro($font-weight:400,$font-size:0.875rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0rem, $text-decoration: underline);

	@include medium {
		@include text-sourceCodePro($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}

	@include large {
		@include text-sourceCodePro($font-weight:400,$font-size:1rem,$line-height:1.5rem,$letter-spacing:0rem, $paragraph-spacing:0rem);

	}

	font-size: inherit;
}

.scp-label-lg-400 {
	@include text-sourceCodePro($font-weight:400,$font-size:1rem,$line-height:1rem,$letter-spacing:0rem, $paragraph-spacing:0rem);

	@include medium {
		@include text-sourceCodePro($font-weight:400,$font-size:1.125rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}

	@include large {
		@include text-sourceCodePro($font-weight:400,$font-size:1.25rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}
}

.scp-label-sm-400 {
	@include text-sourceCodePro($font-weight:400,$font-size:0.875rem,$line-height:1rem,$letter-spacing:0rem, $paragraph-spacing:0rem);

	@include medium {
		@include text-sourceCodePro($font-weight:400,$font-size:1rem,$line-height:1rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}

	@include large {
		@include text-sourceCodePro($font-weight:400,$font-size:1.125rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}
}

.scp-button-lg-600 {
	@include text-sourceCodePro($font-weight:600,$font-size:1.125rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0rem);

	@include medium {
		@include text-sourceCodePro($font-weight:600,$font-size:1.125rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}

	@include large {
		@include text-sourceCodePro($font-weight:600,$font-size:1.125rem,$line-height:1.25rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}
}

.scp-button-sm-600 {
	@include text-sourceCodePro($font-weight:600,$font-size:1rem,$line-height:1rem,$letter-spacing:0rem, $paragraph-spacing:0rem);

	@include medium {
		@include text-sourceCodePro($font-weight:600,$font-size:1rem,$line-height:1rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	}

	@include large {
		@include text-sourceCodePro($font-weight:600,$font-size:1rem,$line-height:1rem,$letter-spacing:0rem, $paragraph-spacing:0rem);

	}
}

.scp-tag-lg-400 {
	@include text-sourceCodePro($font-weight:400,$font-size:1rem,$line-height:1rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	text-transform: uppercase;
}

.scp-tag-md-400 {
	@include text-sourceCodePro($font-weight:400,$font-size:0.875rem,$line-height:1rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	text-transform: uppercase;
}

.scp-tag-sm-400 {
	@include text-sourceCodePro($font-weight:400,$font-size:0.625rem,$line-height:0.75rem,$letter-spacing:0rem, $paragraph-spacing:0rem);
	text-transform: uppercase;
}

