// Roboto Mono
@mixin text-robotoMono(
  $font-size: 1rem,
  $font-weight: 400,
  $letter-spacing: 0rem,
  $text-decoration: none,
  $paragraph-spacing: 0rem,
  $line-height: 1.5rem
) {
  font-family: 'Roboto Mono';
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  font-style: normal;
  text-decoration: $text-decoration;
  margin-bottom: $paragraph-spacing;
}

.body-text {
  @include text-robotoMono(
    $font-size: 1rem,
    $font-weight: 400,
    $letter-spacing: 0,
    $text-decoration: none,
    $line-height: 1.25rem,
    $paragraph-spacing: 0
  );
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.sub-title {
  @include text-robotoMono(
    $font-size: 0.75rem,
    $font-weight: 500,
    $letter-spacing: 0,
    $text-decoration: none,
    $line-height: 0.75rem,
    $paragraph-spacing: 0
  );
  line-clamp: 1;
  -webkit-line-clamp: 1;
}

.button-text {
  @include text-robotoMono(
    $font-size: 18px,
    $font-weight: 400,
    $letter-spacing: 0,
    $text-decoration: none,
    $line-height: 20px,
    $paragraph-spacing: 0
  );
  text-align: center;
}